body {
    padding-bottom: 100px;
    padding-top: 20px;
    font-family:sans-serif;
}

hr {
    max-width: 820px;
    margin-left: 0%;
}

#menubar {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    max-width: 820px;
    text-align: center;
}

.btn {
    margin-right: 10px;
    margin: 5px;
    width: 120px;
}

textarea {
    min-height: 400px;
}

.mail {
    padding: 15px;
    line-height: 1px;
    margin: 7px;
    margin-bottom: 12px;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
}

#emails-view :hover.mail{
    border: solid 1px rgb(102, 102, 102);
    
}

#compose-view {
    max-width: 820px;
}

.read {
    background-color: rgba(214, 214, 214, 0.387);
}

.unread {
    background-color: rgb(255, 255, 255);
}

@keyframes showme {
    0% {
        opacity: 0;
        height: 0px;
        width: 200;
        line-height: 0px;
        padding: 0px;
        box-shadow: none;
        border: none;
        border-radius: none;
    }

    75% {
        opacity: 1;
        height: 0px;
        width: auto;
        max-width: 820px;
        line-height: 0px;
        padding: 0px;
        box-shadow: none;
        border: none;
        border-radius: none;
    }
    100% {
        opacity: 1;
        height: auto;
        width: auto;
        max-width: 820px;
        line-height: 100%;
        padding: 25px;
        border: solid 1px rgb(187, 187, 187);
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
    }
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.this_mail {
    animation-name: showme;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.629);
}

.this-mail-body {
    margin-top: 45px;
    opacity: 0;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.7s;
    line-height: 130%;
}
